.App {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 200px auto auto 200px;
}

.Header {
    grid-row: 1 / span 1;
    grid-column: 1 / span 4;
    text-align: center;
}

.Header h1 {
  font-family: 'Courier New';
  font-size: 1.5em;
  font-weight: bold;
}

.Navigation {
    grid-column: 1 / span 1;
}

.AbcViewer {
    grid-column: 2 / span 3;
}
