.app {
    display: grid;
}

.viewer {
    grid-template-rows: 100px 50px auto;
    grid-template-columns: 200px auto;
}

.editor {
    grid-template-rows: 50px auto;
    grid-template-columns: auto;
}

.Header {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.AdminBar {
    grid-column-start: 1;
    grid-column-end: 3;
    border: 1px solid pink;
}

.Navigation {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

.AbcViewer {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

.AbcEditor {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}

@page {
    size: auto;
    margin: 5mm;
}

@media print {
    .app {
        display: grid;
        grid-template-rows: auto;
    }
    .viewer {
        grid-template-columns: auto;
    }
    .Header, .AdminBar, .Navigation {
        display: none;
    }
}
