@page {
    size: auto;
    margin: 5mm;
}

@media print {
    .app {
        display: grid;
        grid-template-rows: auto;
    }
    .viewer {
        grid-template-columns: auto;
    }
    .Header, .AdminBar, .Navigation {
        display: none;
    }
}
