.navi-row {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

ul {
    list-style-type: none;
    cursor: pointer;
}

#navi-menu-icon {
    margin: auto 5px;
    cursor: pointer;
}

.navi-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 3.5em;
    margin: 5px 0px;
    padding: 0px 5px;
    border-radius: 10px;
    border: 1px solid gray;
}

.navi-menu form {
    margin-right: 8px;
}

input {
    width: 100%;
}
