@import url('https://fonts.googleapis.com/css?family=Alegreya:400,700');

.Navigation {
    margin-left: 5px;
    font-family: 'Alegreya';
}

.navi-row {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

ul {
    font-size: 1.05em;
    list-style-type: none;
    cursor: pointer;
    padding: 0;
}

.navi-list > li:hover {
    background-color: #EEE;
    color: #444;
    font-weight: bold;
}

.navi-list > li.selected {
    color: black;
    font-weight: bold;
}

#navi-menu-icon {
    margin: auto 5px;
    cursor: pointer;
}

.navi-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 3.5em;
    margin: 5px 0px;
    padding: 0px 10px;
    border-radius: 10px;
    border: 1px solid gray;
}

.navi-menu form {
    margin-right: 8px;
}

.navi-menu li {
    text-align: right;
    paddin: 2px;
}

.navi-menu li:last-child {
    border-top: dotted 1px gray;
    margin-top: 2px;
    padding-top: 2px;
}

.navi-menu li.clickable:hover {
    font-weight: bold;
}

input {
    width: 100%;
}

.transpose-btn {
    margin: 1px 6px 1px 0px;
    border-radius: 12px;
    border: 1px solid white;
}

.enabled > .transpose-btn:hover {
    background-image: radial-gradient(circle, white, white 50%, black 50%, black);
    border-color: black;
}

.Transposer.disabled {
    cursor: auto;
    opacity: 0.5;
}

.transpose-label {
    cursor:auto;
}
